@media (max-width: 991px) {
    .menu-bar {
        display: contents;
        width: 100%;
    }
    nav {
        display: none;
    }
    .image-bg-position {
        margin-bottom: 30px;
    }
    main img {
        margin-top: 30px;
    }
    .learn-block .frame {
        margin-bottom: 40px;
    }
}
@media (max-width: 767px) {
    aside {
        text-align: -webkit-center;
    }
    aside span {
        margin-bottom: 30px;
    }
    section .image-bg {
        height: 100%;
    }
}
@media (max-width: 315px) {
    button {
        white-space: normal;
        padding: 5px 10px;
        font-size: 14px;
    }
    .learn-block .description {
        padding: 20px 15px;
    }
}