@media (max-width: 991px) {
    .menu-bar {
        display: contents;
        width: 100%;
    }
    nav {
        display: none;
    }
}
@media (max-width: 767px) {
aside {
        text-align: -webkit-center;
    }
aside span {
    margin-bottom: 30px;
}
}
@media (max-width: 315px) {
    button {
        white-space: normal;
        padding: 5px 10px;
        font-size: 14px;
    }
}