@import url(//db.onlinewebfonts.com/c/e55e9079ee863276569c8a68d776ef04?family=Futura+Md+BT);
@import url(//db.onlinewebfonts.com/c/af089c51d74ffa3c6a675fd6024b302b?family=Futura+Hv+BT);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

footer,
header,
aside,
article,
section,
main {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.menu-bar {
  display: none;
}

.menu-bar-icon {
  width: 30px;
  margin-right: 10px;
}

nav ul {
  display: flex;
}
nav li {
  padding-right: 55px;
  font-size: 16px;
  font-weight: 900;
  font-family: "Futura Hv BT", sans-serif;
  color: #1f0b30;
  white-space: nowrap;
}

button {
  background-color: #7b2cbf;
  border-radius: 8px;
  padding: 12px 20px;
  color: #fff;
  font-size: 16px;
  font-family: "Futura Hv BT", sans-serif;
  white-space: nowrap;
}
